section{
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}

.login_box{
	width: 500px;
	height: 300px;
	background-color: white;
	margin: 0 auto;
}

form{
	text-align: center;
	margin-top: 100px;

	

}

section div form div{
	width: 400px;
	height: 50px;
	margin: 0 auto;
	display: flex;
	margin-top: 20px;

	
}

section div form div p{
	width: 50px;
	line-height: 50px;

}

section div form input[type="text"]{
	width: 300px;
	height: 30px;
	margin-top: 10px;
	
}

section div form input[type="password"]{
	width: 300px;
	height: 30px;
	margin-top: 10px;
	
}

section div form input[type="submit"]{
	width: 200px;
	height: 50px;
	margin-top: 50px;


}