	*{
    margin: 0;
    padding: 0;
 
     font-family: 'TheJamsil3Regular';
     list-style : none;
 
}

@font-face {
    font-family: 'TheJamsil3Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



	#dessearch{

	width : 1000px;
	height : 500px;
	border-style: inset;
	border-color: black;
	border-width: 1px;
	margin : 0 auto;
	}




	#inputwrap{

		width : 680px;
		height : 360px;
		margin : 0 auto;
		background-color: #fffef5;
	}


	#destintext{
	width : 680px;
	margin : 30px auto;
	padding-top : 30px; 
	color: #7e7dcb;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	font-family: 'NanumBarunGothicBold';
	}



	.depdatewrap{

		display : block;
		margin : 0 auto;
		width: 408px;

	}

	.depdatewrap ul li{
		margin-top : 10px;
	}


	.inputdes{

		width : 400px;
		height: 36px;
		border-radius: 5px;

	}

	#innercon{
		display: flex;
		align-items: center;
		font-size : 16px;
		padding : 8px;
		margin : 0 auto;
	}

	#filter-bar{
		display: inline-flex;
		margin : 0 auto;
		text-align: center	;
		height : 29px;
	}

	#filter-bar li{

		line-height : 40px;
	}

	#innercon nav{
		margin-left : 80px ;


	}


	#innercon ul li{

		text-align: center;
		color: #001540;
		font-weight : 480;
		margin : 0 27px 0 27px;
		cursor : pointer;
		background-color: transparent;
	}


	#innercon .reccity1 .pill{
		margin-left: 160px;
		transition : margin-left 200ms ease;

	}

	#innercon .reccity2 .pill{
		transition: margin-left 200ms ease;
	}

	#innercon .reccity3 .pill{
	transition: margin-left 200ms ease;
	}

	#innercon .reccity4 .pill{
transition: margin-left 200ms ease;

	}

	#innercon .reccity5 .pill{
		transition : margin-left 200ms ease;

	}

	.filter-option {
    transition: color 500ms;
}

	#filter-bar .reccity1:active
	{	color: #fff;
    	background-color: #7e7dcb ;
	}




	#greyinst{
	width : 320px;
	height : 16px;
	font-size : 13.6px;
	margin : 8px auto;
	font-weight :normal;
	}


	#continent{
		width : 1136px;
		height : 64px;
		margin:  0 auto;
	}


	input[type=text]{
	border : solid 2px #7e7dcb;
	}


	input[type=date]{
	border : solid 2px #7e7dcb;
	width : 310px;
	height : 40px;
	text-align: center;
	border-radius: 5px;
	font-size : 16px;
	font-wiehgt: bold;
	color : #7e7dcb;
	text : none;
	float : left;
	box-sizing: border-box;

		}

	input[type=button]{
		background-color : #7e7dcb; border-radius: 5px; color : white; width : 88px; height : 35px; border : none; margin-top : 5px;
		margin-right : 5.5px; float : left; box-sizing: border-box;
		text-align: center; font-size: 16px; font-family: 'TheJamsil3Regular'; letter-spacing: -1px; }



	#desearbtn{

		width : 403px;
		height : 36px;
		background-color: #7e7dcb;
		text-align: center;
		font-size: 16px;

	}


	.sortwrap{

		width: 1136px;
		margin: 0 auto;
		display : flex;
		justify-content: flex-end;
	}



	.innersort{
		display : inline-block;
		position : relative;
		max-width: 100%;
		vertical-align: middle;
	}


	.sort{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right :56px;
		font-size : 14px;
		font-weight: normal;
		letter-spacing: 1px;
	}


	.sort:hover{
		cursor : pointer;
	}

	.sorticon{

	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
	}


	.sort-dropwrap{

		min-width : 160px;
		position : absolute;
		box-sizing : border-box;
		background-color: white;
		color : #666;
		box-shadow: 0 5px 12px rgb(0 0 0 / 15%);
		z-index: 1020;
		padding : 20px;
		left : -64px;
		margin-top : 16px;
		display : none;
	}



	.sort-dropwrap ul li:first-child{

		display : flex;
		font-size: 14px;
		font-weight : normal;
		letter-spacing: 1px;

	}


	.sort-dropwrap ul li{

		display : flex;
		font-size: 14px;
		font-weight : normal;
		letter-spacing: 1px;
		margin-top : 12px;
	}

	.picswraps{
		width : 1420px;
		margin : 25px auto;
		position: relative;
	}


	.recdes_asia{

		width : 1136px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;

	}

	.recdes_europe{

		width : 1136px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;

	}

	.recdes_america{

		width : 1136px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;

	}

	.recdes_africa{

		width : 1136px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}

	.recdes_oceania{

		width : 1136px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;

	}





	.wheretogo{
		width: 1136px;
		margin: 0 auto 60px auto;
		position : relative;
		overflow: hidden;
	}

	.pntwrap{
		width : 184px;
		float : left;
		margin-left: 30px;
		box-shadow : rgb(31 38 135 / 20%) 0px 8px 32px 0px !important;
	}

	.pntwrap ul {
		overflow: hidden;
		list-style: none;
		display : block;
	}


	.pntwrap1{

		width : 184px;
		float : left;
		margin-right:2px;
		box-shadow : rgb(31 38 135 / 20%) 0px 8px 32px 0px !important;
	}


	.picwrap1{

		padding : 0 20px 20px 20px;
		overflow: auto;
	}


	.pic{

	width : 184px;
	height : 232px;
	margin : 0 auto;
	overflow : hidden;

	}




	.textwrap{
		display: flex;
		flex-direction : column;
		vertical-align: top;
		width : 184px;
		height : 64px;
		font-family : 'NanumBarunGothicBold';
	}

		.text{
		display : block;
		letter-spacing: 1px;
	}

	.text li:first-child{

		font-size: 14px;
		color: #001540;

		display: block;
		margin-left : 16px;
		margin-top : 8px;

	}


	.text li{

		font-size: 14px;
		color: #001540;

		display: block;
		margin-left : 16px;
		margin-top : 8px;
		letter-spacing: 2px;

	}

	.wheretogo{
		width: 1136px;
		margin: 0 auto 48px auto;
		position : relative;
		overflow: hidden;
	}


	.julwrap{
		width : 1136px;
		overflow :hidden;
		margin : 48px 0 48px 0;


	}

	.btextwrap{
		width : 1136px;
		margin : 40px auto 24px auto;
		font-size: 24px;
		font-weight : normal;
		color : #001540;
		font-family: 'NanumBarunGothicBold';
	}

	.ltextwrap{
		width : 1136px;
		margin : 17px auto;
		font-size : 16px;
		font-weight : normal;
		color : #7e7dcb;

	}



	.nemowrap{
	overflow: auto;
	float : left;
	margin : 0 2px 16px 12px;
	box-shadow : rgb(31 38 135 / 20%) 0px 8px 32px 0px !important;
	}	

	.pic3s{
		width : 241px;
		height : 240px;
		margin : 0 auto;
		vertical-align: top;
		overflow : hidden;

	}
	.usertext{
	
		float : left;
	vertical-align: top;
	font-size: 14px;
	color: #001540;
	font-weight : normal;

	display: block;
	}


	.usertext li:first-child{

		letter-spacing: 1px;
	}
	.usertext li{
	margin-top : 8px;
	margin-left : 16px;
	letter-spacing: 2px;
	}


	.nemowrapwml{
	overflow: auto;
	float : left;
	margin : 0 0 16px 40px;
	box-shadow : rgb(31 38 135 / 20%) 0px 8px 32px 0px !important;
	}
	.nemowrapwm{
	overflow: auto;
	float : left;
	margin-left: 30px;
	box-shadow : rgb(31 38 135 / 20%) 0px 8px 32px 0px !important;
	}


	#addmemo{

		background-color:#7e7dcb;
		color: white;
	}

	@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
